In [1]:
a=100
b=200
print(a+b)

300

In [2]:
number1 = input("Enter number:")
print(number1, type(number1))

Enter number:200
200 <class 'str'>

In [3]:
a=200
print(a, type(a))
b="200"
print(b, type(b))

200 <class 'int'>
200 <class 'str'>

In [5]:
a=200
b=300
print(a, type(a), b, type(b))
print(a+b)

200 <class 'int'> 300 <class 'int'>
500

In [6]:
a="200"
b="300"
print(a, type(a),b, type(b))
print(a+b)

200 <class 'str'> 300 <class 'str'>
200300

In [7]:
a="200"
print(a, type(a))
b=int(a)
print(b, type(b))
c=float(a)
print(c, type(c))

200 <class 'str'>
200 <class 'int'>
200.0 <class 'float'>

In [8]:
number1 = input("Enter number1:")
number2 = input("Enter number2:")
print(number1+number2)

Enter number1:10
Enter number2:20
1020

In [9]:
number1 = input("Enter number1:")
number2 = input("Enter number2:")
print(number1, type(number1),number2,type(number2))
print(number1+number2)

Enter number1:10
Enter number2:20
10 <class 'str'> 20 <class 'str'>
1020

In [10]:
number1 = input("Enter number1:")
number2 = input("Enter number2:")
print(number1, type(number1),number2,type(number2))
number1=int(number1)
number2=int(number2)
print("after conversion.")
print(number1, type(number1),number2,type(number2))
print(number1+number2)

Enter number1:10
Enter number2:20
10 <class 'str'> 20 <class 'str'>
after conversion.
10 <class 'int'> 20 <class 'int'>
30

In [11]:
number1 = int(input("Enter number1:"))
number2 = int(input("Enter number2:"))
print(number1+number2)

Enter number1:10
Enter number2:20
30

In [12]:
int("23")

23

In [13]:
int("23.34")

ValueError: invalid literal for int() with base 10: '23.34'

In [14]:
float("23.34")

23.34

In [15]:
float("23")

23.0

In [16]:
float("23.34")

23.34

In [17]:
number1 = float(input("Enter number1:"))
number2 = float(input("Enter number2:"))
print(number1+number2)

Enter number1:12.34
Enter number2:34.56
46.900000000000006

In [18]:
number1 = float(input("Enter number1:"))
number2 = float(input("Enter number2:"))
print(number1+number2)

Enter number1:12
Enter number2:34
46.0

In [19]:
number1 = float(input("Enter number1:"))
number2 = float(input("Enter number2:"))
print(round(number1+number2,2))

Enter number1:12.34
Enter number2:34.56
46.9

In [20]:
number1 = float(input("Enter number1:"))
number2 = float(input("Enter number2:"))
print(round(number1+number2,2))

Enter number1:12
Enter number2:34
46.0

In [21]:
int("23.45") # decial number system

ValueError: invalid literal for int() with base 10: '23.45'

In [22]:
int("28")

28

In [23]:
print(int("28"))
print(8*10**0+2*10**1)

28
28

In [25]:
int("10101")

10101

In [26]:
int("10101",2)

21

In [27]:
int("23",8)

19

In [28]:
int("23a",16)# convertes to decimal from hexadecimal 23a

570

In [29]:
hex(500)

'0x1f4'

In [30]:
a=1234
print(bin(a))
print(oct(a))
print(hex(a))

0b10011010010
0o2322
0x4d2